name: build-and-tests

on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    env:
      BUILD_TYPE: Release
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-22.04]
        cxx: [g++-12]
        cc: [gcc-12]

    steps:
      - uses: actions/checkout@v2
      - name: Setup dependencies
        run: |
             sudo apt update
             sudo apt install gcc-12 g++-12 ninja-build
             pip3 install --force-reinstall -v "conan==1.60.1"
             
      - name: Configure
        run: cmake . -DCMAKE_BUILD_TYPE=${BUILD_TYPE}

      - name: Build
        working-directory: ${{github.workspace}}
        shell: bash
        run: cmake --build .

      - name: Test
        working-directory: ${{github.workspace}}
        shell: bash
        run: ctest
